<div class="fixed-sidebar-left">
    <ul class="nav navbar-nav side-nav nicescroll-bar" id="result">
        <li><hr style="border-top: #2a3e4c"/></li>
        <li class="navigation-header">
            <span>TÍNH NĂNG</span>
            <i class="zmdi zmdi-more"></i>
        </li>
        
    </ul>
</div>