@model OneTravelApi.Responses.ListModelResponse<OneTravelApi.Resources.PartnerResource>
@{
    ViewData["Title"] = "Đối tác";
}

@section PageTitle
    {
    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">@ViewData["Title"]</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li><a href="#"><span>@ViewData["Title"]</span></a></li>
                <li class="active"><span>Danh sách</span></li>
            </ol>
        </div>
        <!-- /Breadcrumb -->
    </div>
    <!-- /Title -->

}
@await Html.PartialAsync("/Areas/OneOperator/Views/Partials/PartnerContactForm.cshtml")
<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">Danh sách</h6>
                </div>
                <div class="pull-right">
                    <a asp-area="OneOperator" asp-action="Create" asp-controller="Partner" class="btn btn-sm btn-success">Thêm mới</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <table id="example" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Tên đối tác</th>
                                        <th>Nhóm đối tác</th>
                                        <th>Địa chỉ</th>
                                        <th>Điện thoại</th>
                                        <th>Email</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

@section scripts
    {
    <script src="~/js/controllers/partner.js"></script>
    <script src="~/js/controllers/delete-item.js"></script>
}
